@{
    Layout = "~/Views/Shared/_Layout.cshtml";  // Assuming you're using a layout file
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Very First Webapp!</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- webapp Experience Section -->
        <div class="section">
            <div class="background-text">PROJECT</div>
            <div class="section-content">
                <h1>Webapp</h1>
                <img src="https://github.com/Gowri-Mohan/Portfolio/raw/8ac49b4bb8c95e539e39bbf74bd37df5f67b8b92/experion.png" alt="Experion Technologies"/>
    
                <p>During my internship at experion technologies, I made a sample web app using .NET where I implemented jwTokens for login, with roles access. When logged in, one could see the users table and could perform basic CRUD operations using apis. I used postgresql for the databse. I then dockerised and hosted my webapp on Azure.</p>

                
                    
                <a href="@Url.Action("Index", "Home")" class="btn">Go Back</a>
            </div>
        </div>
    </div>
</body>
</html>

